# Python
__pycache__/
*.pyc

# Local data / Backups
data/sync-data.extracted.json
data/sync-data.json
*.bak

# Virtual Env
.venv/
venv/
env/
.env

# OS Files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Project Tracking
project-tracking/
